@{
    ViewData["Title"] = "Confirmação de excluir o contato";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato (Pedro Godri)?</h3>
</div>

<div class="d-grid gap-2">
    <a class="btn btn-danger" role="button" asp-controller="Contato" asp-action="Index">Cancelar</a>
    <a class="btn btn-success" role="button" asp-controller="Contato" asp-action="Apagar">Confirmar</a>
</div>